apiVersion: v1
kind: ConfigMap
metadata:
  name: notification-config
  namespace: restaurant
  labels:
    app: notification
data:
  production.js: |
    module.exports = {
      servicePort: 5052,
      baseDir: process.env.PWD,
      mutualTls: false,
      TLS: false,
    };
